In [1]:
import pandas as pd

In [26]:
#Read summar and movie production company information

df_Summary = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_summary.csv")
df_movie_ProductionComapny = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_production_companies.csv")

In [29]:
#delet useless columns of movie production company information
df_movie_ProductionComapny = df_movie_ProductionComapny.drop('display_name', axis = 1)

In [40]:
#Merge summary with movie production company information

df_Summary_1 = df_Summary.merge(df_movie_ProductionComapny, on = 'odid', how = 'left')

In [41]:
df_Summary_1.shape

(23821, 24)

In [42]:
df_Summary_1.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,domestic_bluray_spending,creative_type,source,production_method,genre,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,33598926.0,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,33598926.0,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.

In [71]:
#Read movie rating
df_MovieRatings = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_ratings.csv")

In [72]:
#Drop useless column
df_MovieRatings = df_MovieRatings.drop(['reason','odid'], axis = 1)

In [73]:
df_MovieRatings.head()

                   display_name rating
0                       Titanic  PG-13
1               The Dark Knight  PG-13
2  Star Wars Ep. IV: A New Hope     PG
3                       Shrek 2     PG
4     ET: The Extra-Terrestrial     PG

In [74]:
#Merge summary with ratings
df_Summary_2 = df_Summary_1.merge(df_MovieRatings, on = 'display_name', how = 'left')

In [75]:
df_Summary_2.shape

(24538, 25)

In [76]:
df_Summary_2.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,creative_type,source,production_method,genre,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company,rating
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox,PG-13
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures,PG-13
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment,PG-13
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures,PG-13
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.,PG-13